*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-fammily: 'Outfit', sans-serif;   
    --font-size: 14px;
    --white: hsl(0, 0%, 100%);
    --color-300: hsl(231, 11%, 63%);
    --color-500: hsl(229, 100%, 87%);  
    --color-900: hsl(218, 44%, 22%);     
}

body{
    font-family:var(--font-fammily);
    font-size: var(--font-size);
    background: var(--color-300);
    padding:1.25rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background: var(--white);
    padding: 1.5rem;
    max-width: 20.5rem;
    border-radius: 0.65rem;
    box-shadow: 0 20px 30px -10px rgba(0,0,0,0.2);
}

.card-image{
    border-radius: 0.625rem;
    width: 100%;
    margin-bottom: 1.25rem;

}


.card h2{
    font-weight: 780;
    font-size: 1.5rem;
    color: var(--color-900);
    margin-bottom: 1.2rem;
    text-align: center;

}


.card p{
    font-weight: 400;
    color: var(--color-500);
    text-align: center;
    line-height: 1.5;
}


.card-footer{
    text-align: center;
    font-size: 0.65rem;
    color: var(--color-500);
    margin-top: 1.5rem;
}

.card-footer p, a{
    font-weight: 400;
    color: var(--color-500);
    text-align: center;
    align-items: center;
    line-height: 1.5;
}
